[interpreters.ps1]
    {{- if eq .chezmoi.os "windows" }}
    command = "C:/Program Files/PowerShell/7/pwsh.exe"
    {{- else }}
    command = "/usr/bin/pwsh"
    {{- end }}
    args = ["-NoLogo", "-NoProfile"]

[git]
    autoCommit = true
    #autoPush = true
    commitMessageTemplateFile = ".commit_message.tmpl"
