[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "dotbot-flathub"]
	path = dotbot-flathub
	url = https://github.com/potatoenergy/dotbot-flathub.git
