[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "dotbot-flathub"]
	path = dotbot-plugins/dotbot-flathub
	url = https://github.com/potatoenergy/dotbot-flathub.git
[submodule "zsh/ohmyzsh"]
	path = shell/zsh/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "nvim/nvchad"]
	path = nvim/nvchad
	url = https://github.com/NvChad/NvChad.git
[submodule "zsh/plugins/wakatime"]
	path = shell/zsh/plugins/wakatime
	url = https://github.com/sobolevn/wakatime-zsh-plugin.git
[submodule "dotbot-windows"]
	path = dotbot-plugins/dotbot-windows
	url = https://github.com/kurtmckee/dotbot-windows.git
[submodule "dotbot-firefox"]
	path = dotbot-plugins/dotbot-firefox
	url = https://github.com/kurtmckee/dotbot-firefox.git
[submodule "wakatime"]
	path = wakatime
	url = https://gist.github.com/ponfertato/9ca2359a55acd595941c3865f572d783
[submodule "shell/powershell"]
	path = shell/powershell
	url = https://github.com/ponfertato/PowerShell-Stuff.git
