[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "dotbot-flathub"]
	path = dotbot-flathub
	url = https://github.com/potatoenergy/dotbot-flathub.git
[submodule "zsh/ohmyzsh"]
	path = zsh/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "nvim/nvchad"]
	path = nvim/nvchad
	url = https://github.com/NvChad/NvChad.git
